<%= link_to "Create a New List", new_list_path, { :class => "btn btn-default"} %>
<br><br>

<% @lists.each do |list| %>
    <div class="row">
        <div class="col-sm-2">
            <%= list.name %>
        </div>
        <div class="col-sm-8">
            <%= link_to "S", list_path(list.id), { :class => "btn btn-success btn-sm"} %>
            <%= link_to "R", list_path(list.id, :reverse => true), { :class => "btn btn-danger btn-sm"} %>
            <%= link_to "Test", test_path(:id => list.id), { :class => "btn btn-primary btn-sm"} %>
        </div>
    </div>

    <br>
<% end %>
