<h1>Add New Words</h1>

<%= form_for :words, url: words_path do |f| %>
    <div>
        <%= f.label :delimiter %>
        <br>
        <%= f.text_field :delimiter, { :value => "#" } %>
        <br><br>
        <%= f.select(:list_id, @list_options, :selected => @list_id) %>
        <br><br>
        <%= f.label :content %>
        <br>
        <%= f.text_area :content %>
    </div>

    <div>
        <%= f.submit %>
    </div>
<% end %>